body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.responsive-image {
    width: 100%; /* Make the image take the full width of its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove bottom space */
}
